
/*Texto comun: 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Roboto+Mono:wght@100&display=swap'); 
/*Titulos: 'Staatliches' */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/icons/background.png);
	background-repeat: repeat;
	font-family: 'Staatliches', 'Noto Sans JP', sans-serif;
}

div {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	color: #4059AD;
}