
/*Texto comun: 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Roboto+Mono:wght@100&display=swap'); 
/*Titulos: 'Staatliches' */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
	--color-white: #EFF2F1;
	--color-blue: #4059AD;
	--color-light-blue: #637EDB;
	--color-dark-blue: #2B3F80;
	--color-yellow:  #F4B942;
	--color-light-yellow: #fad487;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/icons/background.png);
	background-repeat: repeat;
	font-family: 'Staatliches', 'Noto Sans JP', sans-serif;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	--space-between: 50px;
}

.container__one {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47%;
	height: 80px;
	margin: var(--space-between);

	font-size: 24px;
	background-color: var(--color-blue);
	color: var(--color-white);
}

.container__one__title {
	margin-right: 24px;
}

.container__one__gear {
	display: flex;
	align-items: center;

	font-size: 50px;
}

.container__two {
	margin: var(--space-between);
}

.container__two__button {
	position: relative;
	padding: 20px 50px;

	font-size: 24px;
	text-decoration: none;
	background-color: var(--color-blue);
	color: var(--color-white);
}
