

/**************   TIPOGRAFÃAS   **************/
/*Texto comun: 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Roboto+Mono:wght@100&display=swap'); 
/*'Roboto'*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/*'Bebas Neue'*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/**************   PROPIEDADES GENERALES   **************/
:root {
	--color-white: #EFF2F1;
	--color-dark-white: #C7C9C9;
	--color-blue: #4059AD;
	--color-light-blue: #637EDB;
	--color-dark-blue: #2B3F80;
	--color-yellow:  #F4B942;
	--color-light-yellow: #fad487;

	--nav-anim-dur: 300ms;
	--nav-item-delay: 350ms;
	--img-dur: 250ms;
	--img-delay: 600ms;
}

body {
	background-color: var(--color-white);
}

.font__blue {
	color: var(--color-blue);
}

.font__yellow {
	color: var(--color-yellow);
}

.font__white {
	color: var(--color-white);
}

.title {
	font-family: 'Noto Sans JP';
}

.row1G, .row1L {
	min-width: 100vw;
	height: 700px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0%;
	animation: img-load var(--img-dur) ease-out var(--img-delay) forwards;
}

.row2G__titleRow,
.row2L__titleRow {
	display: flex;
	justify-content: center;
}

.row2G__titleRow__cont,
.row2L__titleRow__cont {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 85%;
	height: 2.22em;
	margin-bottom: 0.83em;

	background-color: var(--color-blue);
	font-size: 2.25em; /* 36/16 */
}

.row2G__titleRow__cont__title,
.row2L__titleRow__cont__title {
	color: var(--color-white);

	font-size: 1em;
	word-spacing: 0.5em;
	letter-spacing: 0.15em;
}


@keyframes img-load {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}










/*************************************          HEADER          *************************************/
/**************   NAVBAR   **************/
.navbar {
	background-color: var(--color-blue);
}

.navbar-toggler {
	color: var(--color-white);
}

.nav-link {
	color: var(--color-dark-white);
}

.nav-link:hover {
	color: var(--color-white);
}










/*************************************          INDEX          *************************************/
.carousel-control-next,
.carousel-control-prev {
	width: 10%;
}

.carousel-item {
	position: relative;
	height: 32rem;
	background: black;
}

.carousel__data__cont {
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 3rem;
}

.logo__cont {
	margin-bottom: 1rem;
}

.logo__cont > img {
	width: 3.5rem; /* 50/16 */
	margin-right: 1rem;	
}

.logo__cont > h2 {
	word-spacing: 0.3rem;
	letter-spacing: 0.3rem;
}

.slide__img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.7;
}

.slide__img1 {
	background-image: url(./img/main/main1.jpg);
}

.slide__img2 {
	background-image: url(./img/main/main2.jpg);
}

.slide__img3 {
	background-image: url(./img/main/main3.jpg);
}

.card-body {
	background-color: var(--color-yellow);
}

.card-title {
	word-spacing: 0.5rem;
	letter-spacing: 0.5rem;
}

.imgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.imgCont__img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(./img/main/main4.jpg);
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}

.work__data {
	position: absolute;
	left: 0;
	right: 0;
}










/*************************************          GALERIA          *************************************/
/**************   GALERIA MAIN GENERALES   **************/
.row1G {
	background-image: url(./img/galery/mainGalery.jpg);
}

.row2G__media {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.row2G__media__imgCont,
.row2G__media__vidCont {
	width: 85%;
}

.row2G__media__imgCont__titleCont,
.row2G__media__vidCont__titleCont {
	display: flex;
	align-items: center;

	color: var(--color-yellow);
	letter-spacing: 5px;
	word-spacing: 0.94em;
	font-size: 1.5em; /* 24/16 */
}

	/***********  FOTOS  ***********/
.row2G__media__imgCont__galCont {
	display: grid;
	/*grid-template-columns: repeat(6, 1fr);*/
	grid-auto-rows: 12.5em;
	grid-template-areas: 
	'a   a   b   b   b   d'
	'a   a   c   c   c   d'
	'e   e   e   f   f   f'
	'g   g   g   f   f   f'
	'h   i   i   i   j   j'
	'h   k   k   l   j   j'
	'h   k   k   l   j   j';

	gap: 1rem;
}

.row2G__media__imgCont__galCont__img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	filter: grayscale(100%);

	transition: all 1s;
}

.row2G__media__imgCont__galCont__img:hover {
	scale: 1.03;
	filter: grayscale(0%);
}

.img1 {
	grid-area: a;
}
.img2 {
	grid-area: b;
}
.img3 {
	grid-area: c;
}
.img4 {
	grid-area: d;
}
.img5 {
	grid-area: e;
}
.img6 {
	grid-area: f;
}
.img7 {
	grid-area: g;
}
.img8 {
	grid-area: h;
}
.img9 {
	grid-area: i;
}
.img10 {
	grid-area: j;
}
.img11 {
	grid-area: k;
}
.img12 {
	grid-area: l;
}

	/***********  VIDEOS  ***********/
.row2G__media__vidCont__galCont {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row2G__media__vidCont__galCont__vidCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
}

.row2G__media__vidCont__galCont__vidCard__vid {
	width: 500px;
	height: 281px;
}

.row2G__media__vidCont__galCont__vidCard__descCont {
	color: black;
	text-align: center;
	font-size: 1em;
	font-weight: 100;
	padding: 10px;
}

.row2G__media__vidCont__galCont__vidCard__descCont__title {
	margin-bottom: 0.7em;
	text-align: left;
	font-size: 1.2em;
	font-weight: 300;
}


.row2G__media__vidCont__galCont__vidCard__descCont__desc {
	text-align: left;
	line-height: 1.5625em; /* 25/16 */
}








/*************************************          UBICACION         *************************************/ 
.row1L {
	background-image: url(./img/location/mainLocation.jpg);
}

.row2L__locRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.row2L__locRow__card {
	width: 25em; /* 400/16 */
	height: 35em; /* 460/16 */
	font-family: 'Roboto';
}

.row2L__locRow__card__mapCont {
	width: 100%; /* 400/16 */
	height: 50%; /* 300/16 */
}

.row2L__locRow__card__mapCont__map {
	width: 100%;
	height: 100%;
	border-style: none;
}

.row2L__locRow__card__dataCont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50%;
	padding: 0.95em; /* 15/16 */
	background-color: var(--color-blue);
	color: var(--color-white);
}

.row2L__locRow__card__dataCont__info {
	margin-bottom: 0.625em; /* 10/16 */
	line-height: 1.8em; /* 20/16 */
	font-weight: 100;
}

.row2L__locRow__card__dataCont__title {
	margin-bottom: 0.625em; /* 10/16 */
}

.row2L__locRow__card__dataCont__title h2 {
	font-weight: 300;
}

.row2L__locRow__card__dataCont__button {
	display: flex;
	width: 35%;
	justify-content: space-between;
	color: var(--color-yellow);
	align-items: center;
	transition: width 1s, color 1s;
}

.row2L__locRow__card__dataCont__button:hover {
	width: 38%;
	color: var(--color-light-yellow);
	transition: width 1s, color 1s;
}










/*************************************          FOOTER          *************************************/
.footer {
	background-color: var(--color-blue);
	color: var(--color-white);
}

.data__list__item {
	font-size: 0.9rem;
}

.data__list__item__link {
	text-decoration: none;
	color: var(--color-white);
}

.data__list__item__link:hover {
	color: var(--color-white);
	text-decoration: underline;
}

.nets__links__item {
	font-size: 1.5rem;
	color: var(--color-white);
	transition: 0.3s;
}

.nets__links__item:hover {
	color: var(--color-yellow);
}

.footer_desc {
	font-size: 0.8rem;
}










/*************************************          MEDIA QUERIES          *************************************/
@media only screen and (max-width: 1250px) {

/*****************   GENERALES   *****************/
	.row1G, .row1L {
		height: 455px;
	}

/*****************   GALERIA   *****************/
	.row2G__media__imgCont__titleCont {
		justify-content: center;
		margin-top: 1.875em; /* 30/16 */
		margin-bottom: 1.875em; /* 30/16 */
	}

	.row2G__media__vidCont__titleCont {
		justify-content: center;
		margin-bottom: 1.875em; /* 30/16 */
	}

	.row2G__media__vidCont__galCont {
		gap: 100px;
		flex-direction: column;
		align-items: center;
	}

	.row2G__media__vidCont__galCont__vidCard {
		width: 700px;
	}

	.row2G__media__vidCont__galCont__vidCard__vid {
		width: 700px;
		height: 394px;
	}

	.row2G__media__vidCont__galCont__vidCard__descCont__title {
		font-size: 1.5em;
	}


	.row2G__media__vidCont__galCont__vidCard__descCont__desc {
		font-size: 1.2em;
		line-height: 1.70em; /* 25/16 */
	}
}



@media only screen and (max-width: 985px) {
/*****************   GALERIA   *****************/
	.row2G__media__imgCont__galCont {
		grid-template-areas: 
		'a   a   b   b'
		'a   a   c   c'
		'd   e   e   e'
		'd   f   f   f'
		'h   i   i   j'
		'h   i   i   j'
		'g   g   g   g'
		'k   k   l   l';
	}

	.row2G__media__vidCont__galCont__vidCard {
		width: 500px;
	}

	.row2G__media__vidCont__galCont__vidCard__vid {
		width: 500px;
		height: 281px;
	}

	.row2G__media__vidCont__galCont__vidCard__descCont__title {
		font-size: 1.2em;
	}


	.row2G__media__vidCont__galCont__vidCard__descCont__desc {
		line-height: 1.56em; /* 25/16 */
		font-size: 1em;
	}

	/*****************   UBICACION   *****************/ 
	.row2L__locRow {
		flex-direction: column;
		gap: 6.25em; /* 100/16 */
	}
}


@media only screen and (max-width: 596px) {

/*****************   GENERALES   *****************/
	.row2G__titleRow__cont,
	.row2L__titleRow__cont {
		width: 100%;
		height: auto;
	}

	.row2G__titleRow__cont__title,
	.row2L__titleRow__cont__title {
		text-align: center;
		padding: 10px;
	}

/*****************   GALERIA   *****************/
	.row2G__media__imgCont__galCont {
		grid-template-areas: 
		'b   b   b'
		'a   c   c'
		'a   e   e'
		'd   d   d'
		'f   f   h'
		'i   i   h'
		'g   g   g'
		'j   l   l'
		'j   l   l'
		'k   k   k';
	}

	.row2G__media__vidCont__galCont__vidCard {
		width: 320px;
	}

	.row2G__media__vidCont__galCont__vidCard__vid {
		width: 320px;
		height: 180px;
	}

	.row2G__media__vidCont__galCont__vidCard__descCont__title {
		font-size: 1.2em;
	}


	.row2G__media__vidCont__galCont__vidCard__descCont__desc {
		line-height: 1.56em; /* 25/16 */
		font-size: 1em;
	}
/*****************   UBICACION   *****************/
	.row2L__locRow__card {
		width: 20em; /* 400/16 */
		height: 35em; /* 460/16 */
		font-family: 'Roboto';
	}

	.row2L__locRow__card__dataCont__button {
		width: 45%;
	}
}