

/**************   TIPOGRAFÃAS   **************/
/*Texto comun: 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Roboto+Mono:wght@100&display=swap'); 
/*'Roboto'*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/*'Bebas Neue'*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/**************   PROPIEDADES GENERALES   **************/
:root {
	--color-white: #EFF2F1;
	--color-dark-white: #C7C9C9;
	--color-blue: #4059AD;
	--color-light-blue: #637EDB;
	--color-dark-blue: #2B3F80;
	--color-yellow:  #F4B942;
	--color-light-yellow: #fad487;

	--nav-anim-dur: 300ms;
	--nav-item-delay: 350ms;
	--img-dur: 250ms;
	--img-delay: 600ms;
}

body {
	background-color: var(--color-white);
}

.bg__blue {
	background-color: var(--color-blue);
}

.bg__yellow {
	background-color: var(--color-yellow);
}

.font__blue {
	color: var(--color-blue);
}

.font__yellow {
	color: var(--color-yellow);
}

.font__white {
	color: var(--color-white);
}

.font__black {
	color: black;
}

.roboto {
	font-family: 'Roboto';
}

.title {
	font-family: 'Noto Sans JP';
}










/*************************************          HEADER          *************************************/
/**************   NAVBAR   **************/
.navbar {
	background-color: var(--color-blue);
}

.nav-link {
	color: var(--color-dark-white);
}

.nav-link:hover {
	color: var(--color-white);
}










/*************************************          INDEX          *************************************/
.botonMuyAncho {
	width: 10%;
}

.mainCarouselItem {
	position: relative;
	height: 32rem;
	background: black;
}

.carousel__data__cont {
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 3rem;
}

.logo__cont {
	margin-bottom: 1rem;
}

.logo__cont > img {
	width: 3.5rem; /* 50/16 */
	margin-right: 1rem;	
}

.logo__cont > h2 {
	word-spacing: 0.3rem;
	letter-spacing: 0.3rem;
}

.slide__img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.7;
}

.slide__img1 {
	background-image: url(./img/main/main1.jpg);
}

.slide__img2 {
	background-image: url(./img/main/main2.jpg);
}

.slide__img3 {
	background-image: url(./img/main/main3.jpg);
}

.imgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.imgCont__img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(./img/main/main4.jpg);
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}

.work__data {
	position: absolute;
	left: 0;
	right: 0;
}










/*************************************          ESTADO          *************************************/
.stateImgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.stateImgCont__img {
	background-image: url(./img/state/mainState.jpg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}

.accordion-buttonState[aria-expanded="true"] {
	background-color: white;
	color: var(--color-blue);
}










/*************************************          TRABAJO          *************************************/
.formCard {
	border: 1px solid grey;
	border-radius: 0.5em; /* 8/16 */
}

.textareaForm {
	resize: none;
}










/*************************************          GALERIA          *************************************/
.galeryImgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.galeryImgCont__img {
	background-image: url(./img/galery/mainGalery.jpg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}








/*************************************          UBICACION         *************************************/ 
.locationImgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.locationImgCont__img {
	background-image: url(./img/location/mainLocation.jpg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}










/*************************************          FOOTER          *************************************/
.footer {
	background-color: var(--color-blue);
}

.data__list__item {
	font-size: 0.9rem;
}

.data__list__item__link {
	text-decoration: none;
}

.data__list__item__link:hover {
	color: var(--color-white);
	text-decoration: underline;
}

.nets__links__item {
	font-size: 1.5rem;
	transition: 0.3s;
}

.nets__links__item:hover {
	color: var(--color-yellow);
}

.footer__desc {
	font-size: 0.8rem;
}