

/**************   TIPOGRAFÃAS   **************/
/*Texto comun: 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Roboto+Mono:wght@100&display=swap'); 
/*'Roboto'*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/*'Bebas Neue'*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/**************   PROPIEDADES GENERALES   **************/
:root {
	--color-white: #EFF2F1;
	--color-dark-white: #C7C9C9;
	--color-blue: #4059AD;
	--color-light-blue: #637EDB;
	--color-dark-blue: #2B3F80;
	--color-yellow:  #F4B942;
	--color-light-yellow: #fad487;

	--nav-anim-dur: 300ms;
	--nav-item-delay: 350ms;
	--img-dur: 250ms;
	--img-delay: 600ms;
}

body {
	background-color: var(--color-white);
}

.bg__blue {
	background-color: var(--color-blue);
}

.bg__yellow {
	background-color: var(--color-yellow);
}

.font__blue {
	color: var(--color-blue);
}

.font__yellow {
	color: var(--color-yellow);
}

.font__white {
	color: var(--color-white);
}

.font__black {
	color: black;
}

.roboto {
	font-family: 'Roboto';
}

.title {
	font-family: 'Noto Sans JP';
}

.row1L {
	min-width: 100vw;
	height: 700px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0%;
	animation: img-load var(--img-dur) ease-out var(--img-delay) forwards;
}

.row2L__titleRow {
	display: flex;
	justify-content: center;
}

.row2L__titleRow__cont {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 85%;
	height: 2.22em;
	margin-bottom: 0.83em;

	background-color: var(--color-blue);
	font-size: 2.25em; /* 36/16 */
}

.row2L__titleRow__cont__title {
	color: var(--color-white);

	font-size: 1em;
	word-spacing: 0.5em;
	letter-spacing: 0.15em;
}


@keyframes img-load {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}










/*************************************          HEADER          *************************************/
/**************   NAVBAR   **************/
.navbar {
	background-color: var(--color-blue);
}

.nav-link {
	color: var(--color-dark-white);
}

.nav-link:hover {
	color: var(--color-white);
}










/*************************************          INDEX          *************************************/
.botonMuyAncho {
	width: 10%;
}

.mainCarouselItem {
	position: relative;
	height: 32rem;
	background: black;
}

.carousel__data__cont {
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 3rem;
}

.logo__cont {
	margin-bottom: 1rem;
}

.logo__cont > img {
	width: 3.5rem; /* 50/16 */
	margin-right: 1rem;	
}

.logo__cont > h2 {
	word-spacing: 0.3rem;
	letter-spacing: 0.3rem;
}

.slide__img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.7;
}

.slide__img1 {
	background-image: url(./img/main/main1.jpg);
}

.slide__img2 {
	background-image: url(./img/main/main2.jpg);
}

.slide__img3 {
	background-image: url(./img/main/main3.jpg);
}

.imgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.imgCont__img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(./img/main/main4.jpg);
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}

.work__data {
	position: absolute;
	left: 0;
	right: 0;
}










/*************************************          ESTADO          *************************************/
.stateImgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.stateImgCont__img {
	background-image: url(./img/state/mainState.jpg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}

.accordion-buttonState[aria-expanded="true"] {
	background-color: white;
	color: var(--color-blue);
}










/*************************************          TRABAJO          *************************************/
.formCard {
	border: 1px solid grey;
	border-radius: 0.5em; /* 8/16 */
}

.textareaForm {
	resize: none;
}










/*************************************          GALERIA          *************************************/
.galeryImgCont {
	position: relative;
	height: 28rem;
	background: black;
}

.galeryImgCont__img {
	background-image: url(./img/galery/mainGalery.jpg);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.8;
}








/*************************************          UBICACION         *************************************/ 
.row1L {
	background-image: url(./img/location/mainLocation.jpg);
}

.row2L__locRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.row2L__locRow__card {
	width: 25em; /* 400/16 */
	height: 35em; /* 460/16 */
	font-family: 'Roboto';
}

.row2L__locRow__card__mapCont {
	width: 100%; /* 400/16 */
	height: 50%; /* 300/16 */
}

.row2L__locRow__card__mapCont__map {
	width: 100%;
	height: 100%;
	border-style: none;
}

.row2L__locRow__card__dataCont {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50%;
	padding: 0.95em; /* 15/16 */
	background-color: var(--color-blue);
	color: var(--color-white);
}

.row2L__locRow__card__dataCont__info {
	margin-bottom: 0.625em; /* 10/16 */
	line-height: 1.8em; /* 20/16 */
	font-weight: 100;
}

.row2L__locRow__card__dataCont__title {
	margin-bottom: 0.625em; /* 10/16 */
}

.row2L__locRow__card__dataCont__title h2 {
	font-weight: 300;
}

.row2L__locRow__card__dataCont__button {
	display: flex;
	width: 35%;
	justify-content: space-between;
	color: var(--color-yellow);
	align-items: center;
	transition: width 1s, color 1s;
}

.row2L__locRow__card__dataCont__button:hover {
	width: 38%;
	color: var(--color-light-yellow);
	transition: width 1s, color 1s;
}










/*************************************          FOOTER          *************************************/
.footer {
	background-color: var(--color-blue);
}

.data__list__item {
	font-size: 0.9rem;
}

.data__list__item__link {
	text-decoration: none;
}

.data__list__item__link:hover {
	color: var(--color-white);
	text-decoration: underline;
}

.nets__links__item {
	font-size: 1.5rem;
	transition: 0.3s;
}

.nets__links__item:hover {
	color: var(--color-yellow);
}

.footer__desc {
	font-size: 0.8rem;
}










/*************************************          MEDIA QUERIES          *************************************/
@media only screen and (max-width: 1250px) {

/*****************   GENERALES   *****************/
	.row1L {
		height: 455px;
	}


@media only screen and (max-width: 985px) {
	/*****************   UBICACION   *****************/ 
	.row2L__locRow {
		flex-direction: column;
		gap: 6.25em; /* 100/16 */
	}
}


@media only screen and (max-width: 596px) {

/*****************   GENERALES   *****************/
	.row2L__titleRow__cont {
		width: 100%;
		height: auto;
	}

	.row2L__titleRow__cont__title {
		text-align: center;
		padding: 10px;
	}
/*****************   UBICACION   *****************/
	.row2L__locRow__card {
		width: 20em; /* 400/16 */
		height: 35em; /* 460/16 */
		font-family: 'Roboto';
	}

	.row2L__locRow__card__dataCont__button {
		width: 45%;
	}
}