.containerNR {
	font-size: 16px;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// $space-between: 3.125em; /* 50/16 */

	&::before {
		background-image: url(./img/icons/background.jpg);
		background-repeat: repeat;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;	
	}
	&__one {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 55%;
		padding: 12px;
		margin: $space-between-NR;

		font-size: 1.5em; /* 24/16 */
		background-color: $colorBlue;
		color: $colorWhite;
		&__title {
			text-align: center;
			margin-right: 1.3em; /* 24/16 */
		}
	}
}