.befoAf {
	@include size (100%, 100%);
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	background-color: $colorYellow;
	opacity: 0.7;
	transition: all 0.3s ease;
}
.containerNR__two {
	margin: $space-between-NR;

	&__link {
		text-decoration: none;

		&__button {
			position: relative;
			padding: 1.25em 3.125em; /* 20/16 */ /* 50/16 */
			background-color: $colorBlue;

			&::before,
			&::after {
				@extend .befoAf;
			}
			&:hover {
				&::before {
					transform: translate(0.625em, 0.625em);
				}
				&::after {
					transform: translate(1.25em, 1.25em);
				}
			}
			&__text {
				text-align: center;
				font-size: 1.5em; /* 24/16 */
				color: $colorWhite;			
			}
		}
	}
}