	$colorWhite: #EFF2F1;
	$colorDarkWhite: #C7C9C9;
	$colorBlue: #4059AD;
	$colorLightBlue: #637EDB;
	$colorDarkBlue: #2B3F80;
	$colorYellow:  #F4B942;
	$colorLightYellow: #fad487;

	$space-between-NR: 3.125em;
body {
	background-color: $colorWhite;
}